.header {
  display: flex;
  text-align: center;
  background: #33B5E5;
  color: #fff;
  padding: 12px;
}

.header ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.header li{
  margin-left: 15px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #ffffff;
}