.product-image {      
  list-style-type: none;
  width: 290px;
  padding: 20px;
  margin: 6px 6px;
  border: 1px solid #33B5E5;
}

.product-container {
  position: relative;
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.product-info {
  text-align: center;
  background-color: #e3eff3;
  color: #11a7dd;
  text-decoration: none;
}

.price {
  font-weight: bold;
}

.select-input {
  width: 108px; 
  margin-bottom: 8px;
}